@model ContaModel

@{
    ViewData["Title"] = "Painel da Administração";
}

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SucessMessage"]
    </div>
}

<h1>Adicionar Contas</h1>

<form asp-controller="Admin" asp-action="AdicionarMesa" method="post">
    <div class="mb-3">
        <label for="AddConta" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="AddConta">
        @Html.ValidationMessageFor(o => o.Nome)
    </div>
    <div class="mb-3">
        <select id="Perfil">
            <option value="@Model.PerfilConta">Mesa</option>
            <option>Admin</option>
        </select>
        @Html.ValidationMessageFor(o => o.Nome)
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>

    <a asp-controller="Admin" asp-action="TabelaMesas" role="button" class="btn btn-group">Mesas disponíveis</a>
</form>

<a asp-controller="Admin" asp-action="Produtos" role="button" class="btn btn-group">Adicionar Produtos</a>
